


.div1{

    position: absolute;
    border: black solid 3px;
    top:100px;
    left:0;
    height:200px;
    width: 300px;
    background-color: #3391af;
    float: left;
    z-index: 1;
    margin: 0;
    right: 0;

}

.div2{

    position: relative;
    border: red solid 3px;
    top:150px;
    height:200px;
    width: 300px;
    background-color: #33c887;
    float: right;
    clear: both;
    margin: 0;

}

.main{

    position: absolute;
    width: 400px;
    border: 6px solid black;

}

