@import "./partials/fonts";
@import "./partials/variables";

#can-buy {
  width: 120px;
  height: 40px;
  font-size: 21px;
  text-shadow: $text-shadow;
  font-family: $font1;
  &:hover {
    background-color: $hover-color;
  }
}

.canBuyContainer {
  position: relative;
  left: 950px;
  top: 10px;
  width: 117px;
}