// file to store css applicable to multiple elements

@import "partials/variables";


h2 {

  text-align: center;

}

body {

  background-image: url("../images/grey-patterned-wall-15730229.jpg");
  background-repeat: repeat-x;
  background-size: 80% auto, 80%  auto;
  margin: 0;

}


button {

  color: white;
  border: 2px solid black;
  background-color: blue;
  cursor: pointer;
}


span {

  padding: 2px;

}


li {

  list-style-type: none;

}

#main {

  position: absolute;
  left: 277px;
  top: 74px;
  width: 850px;
  height: 520px;

}


.disabledButton{

  background-color: grey;
  color:black;
  cursor: auto;

}

.enabledButton{

  background-color: blue;
  color:white;
  &:hover:enabled{
    background-color:$hover-color ;
    cursor: pointer;
  }

}




