@import "./partials/fonts";
@import "./partials/variables";


.image-container {

  height: 100px;
  width: 75px;
  margin: -24px 0 0 20px;

  button {

    border-radius: 50%;
    background-color: rgb(102, 90, 182);
    height: 72px;
    position: relative;
    border: 3px solid rgb(0,
            0, 0);

  }
}

.return {

  color: black;
  text-align: center;
  font-weight: bold;
  line-height: 21px;
  background-color: grey;
  border: 2px solid black;
  position: absolute;
  width: 269px;
  margin: 0;
  top: 6px;
  left: 109px;
  height: 21px;

}

.stand-button-area {

  position: relative;
  top: -70px;
  left: 111px;

}

.stand-button {

  margin-left: -1px;
  width: 200px;
  height: 40px;
  text-shadow: $text-shadow;

}

.stand-buy-text {

  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 43px;
  left: -3px;
  font-family: $font1;
  font-size: 16px;

}

.stand-price {

  color: white;
  position: absolute;
  font-weight: bold;
  right: -2px;
  top: -2px;

}

.image-container img {

  width: 90%;
  height: 73%;

}

  button {

    &:hover:enabled {

      background-color: rgb(102, 137, 247);
    }
  }


  .product-stand-count {

    text-shadow: $text-shadow;
    border: 3px solid black;
    color: white;
    width: 68px;
    text-align: center;
    border-radius: 20%;
    margin: -44px 0 0 22px;
    position: absolute;
    height: 14px;
    background-color: blue;

  }

  #beer-stand-count {

    margin-top: -3px;
    font-weight: bold;

  }

  .product-stand-can-buy {

    color: white;
    font-weight: bold;
    position: fixed;
    left: -1101px;
    top: 134px;
    bottom: -54px;

  }

  .timer {

    position: relative;
    border: 2px solid black;
    text-align: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    line-height: 34px;
    left: 200px;
    top: -40px;
    width: 66px;
    height: 36px;
    text-shadow: $text-shadow;

  }

  .stand-can-buy {

    position: absolute;
    bottom: 41px;
    color: white;
    font-weight: bold;
    height: 37px;
    top: 18px;
    left: 2px;
    text-align: left;
    right: 0;

  }

  .price-in-illions {

    position: absolute;
    top: 11px;
    left: 95px;
    font-weight: bold;
    color: black;
    font-size: 9px;
    margin-left: 0;
    right: 63px;
    text-align: right;

  }
