@import "./partials/fonts";
@import "./partials/variables";

.product{

  border:green solid 3px;
  width:350px;
  height:90px;
  float:left;
  margin: 10px 30px 10px 10px;
}

.return {

  color: black;
  text-align: center;
  font-weight: bold;
  line-height: 21px;
  background-color: grey;
  border: 2px solid black;
  width: 265px;
  height: 21px;
  margin-left:75px;
}

.image-container {

  height: 100px;
  width: 75px;
  position: absolute;
  top: 20px;

  // put this in a class
  button {

    border-radius: 50%;
    background-color: rgb(102, 90, 182);
    height: 72px;
    border: 3px solid rgb(0,0, 0);
  }

  img {
    width: 90%;
    height: 73%;

  }
}

.product-stand-count {

  text-shadow: $text-shadow;
  border: 3px solid black;
  color: white;
  width: 68px;
  text-align: center;
  border-radius: 20%;
  top:80px;
  position: absolute;
  height: 14px;
  background-color: blue;

}

//this is a hardcoded id. this cannot be
#beer-stand-count {
  margin-top: -3px;
  font-weight: bold;
}

//.stand-button-area {
//
//  position: relative;
//  top: -70px;
//  left: 111px;
//
//}

.stand-button-area{

  position: relative;
  left: 75px;
  top: -15px

}

.stand-button {

  //same here
 // margin-left: -1px;
  width: 200px;
  height: 39px;
  text-shadow: $text-shadow;

}

.stand-buy-text {

  color: white;
  font-weight: bold;
  //position: absolute;
  ////same here: width is fine but other measurements are not
  //bottom: 0;
  //top: 0;
  //right: 0;
  width: 43px;
  //left: -3px;
  font-family: $font1;
  font-size: 16px;

}

.stand-price {

  color: white;

  // these position rules need to be reviewed
  //position: absolute;
  font-weight: bold;

  //these 2 need to be modified or removed
  //right: 403px;
  //top: -2px;

}
  //put this in a class
  button:hover:enabled {

      background-color: $hover-color;

    }

  .timer {

    position: relative;
    border: 2px solid black;
    text-align: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    line-height: 34px;

    //left and top will need to be reviewed
    left: 199px;
    top: -39px;
    width: 66px;
    height: 36px;
    text-shadow: $text-shadow;

  }

  .stand-can-buy {

   // position: absolute;
    //and this
   // bottom: 41px;
    color: white;
    font-weight: bold;
    height: 37px;
    //and the 2 below
    //top: 18px;
    //left: 2px;
    text-align: left;
    //and this one
    //right: 0;

  }

  .price-in-illions {

    //and these 3
    position: absolute;
    top: 11px;
    left: 95px;
    font-weight: bold;
    color: black;
    font-size: 9px;

    //and these 2
    margin-left: 0;
    right: 63px;
    text-align: right;

  }


