@import "./partials/fonts";
@import "./partials/variables";

.product{

  width: 350px;
  height: 90px;
  float: left;
  position: relative;
  left: 20px;
  top: 10px;
  margin-bottom: 5px;
  margin-right: 75px;
}

.return {

  color: black;
  text-align: center;
  font-weight: bold;
  line-height: 21px;
  background-color: grey;
  border: 2px solid black;
  width: 265px;
  height: 21px;
  margin-left:75px;
}

.image-container {

  height: 100px;
  width: 75px;
  position: relative;
  top: -50px;


  button {

    border-radius: 50%;
    background-color: rgb(102, 90, 182);
    height: 72px;
    border: 3px solid rgb(0,0, 0);
  }

  img {
    width: 90%;
    height: 73%;

  }
}

.product-stand-count-div {

  text-shadow: $text-shadow;
  border: 3px solid black;
  color: white;
  width: 68px;
  text-align: center;
  border-radius: 20%;
  top:-90px;
  position: relative;
  height: 14px;
  background-color: blue;

}

.product-stand-count{
  margin-top: -3px;
  font-weight: bold;
}

.stand-button-area{

  position: relative;
  left: 75px;
  top: -133px

}

.stand-button {

  width: 200px;
  height: 39px;
  text-shadow: $text-shadow;

}

.stand-buy-text {

  color: white;
  font-weight: bold;
  width: 43px;
  font-family: $font1;
  font-size: 16px;

}

.stand-price {

  color: white;
  font-weight: bold;

}

  button:hover:enabled {

      background-color: $hover-color;

    }

  .timer {

    position: relative;
    border: 2px solid black;
    text-align: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    line-height: 34px;
    left: 276px;
    top: -172px;
    width: 66px;
    height: 36px;
    text-shadow: $text-shadow;

  }

  .stand-can-buy {

    color: white;
    font-weight: bold;
    height: 37px;
    text-align: left;

  }

  .price-in-illions {

    position: absolute;
    top: 11px;
    left: 95px;
    font-weight: bold;
    color: black;
    font-size: 9px;
    margin-left: 0;
    right: 63px;
    text-align: right;

  }


