@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import  url('https://fonts.googleapis.com/css?family=Rboto+Condensed:400,400italic');
@import url('https://fonts.googleapis.com/css?family=Playball&subset=latin,latin-ext');

$font1: "Open Sans", serif;
$font2: "Rboto Condensed", cursive;
$font3: "Playball", cursive;