@import "./partials/fonts-exp";
@import "./partials/variables-exp";

#can-buy {
  width: 120px;
  height: 40px;
  font-size: 21px;
  position: absolute;
  top: -207px;
  left: -232px;
  text-shadow: $text-shadow;
  font-family: $font1;
  &:hover {
    background-color: $hover-color;
  }
}

.canBuyContainer {
  position: relative;
  right: -1150px;
  top: -98px;
  width: 117px;
}