// file to store css applicable to multiple elements

@import "partials/variables-exp";

//remove all selectors which use html tags as selectors (within reason)
h2 {

  text-align: center;

}

body {

  background-image: url("../images/grey-patterned-wall-15730229.jpg");
  background-repeat: repeat-x;
  background-size: 80% auto, 80%  auto;
  margin: 0;

}

//this needs to be changed to a class
button {

  color: white;
  border: 2px solid black;
  background-color: blue;
  cursor: pointer;
}

//as does this
span {

  padding: 2px;

}

// as does this
li {

  list-style-type: none;

}

#main {

  position: relative;
  left: 265px;
  top: -204px;
  width: 600px;

}


.disabledButton{

  background-color: grey;
  color:black;
  cursor: auto;

}

.enabledButton{

  background-color: blue;
  color:white;
  &:hover:enabled{
    background-color:$hover-color ;
    cursor: pointer;
  }

}

.changeButtonStyleOnPress{


}

.resetButtonStyle{


}


